<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div id="header" class="flex-center">
            <span><i class="far fa-address-book"></i></span>
            <span>Contact List</span>
        </div>

        <div id="app-body">

            <form action="/add-contact" method="POST" id="contact-form">
        
                <input type="text" name="name" placeholder="Enter name" required class="input-item"> 
                <input type="number" name="phone" placeholder="Enter phone" required class="input-item">
                <button type="submit" class="btn">Add Contact</button>
        
            </form>

            <section id="contact-list-section">

                <ul id="contact-list">
                    <%  var arr = locals.contact_list %>
                    <% for(let i=0;arr.length>i;i++){ %>
                        <li class="list-item">
                            <span><%=       i+1+"."   %></span>
                            <span><%=  arr[i].name   %></span>
                            <span><%=  arr[i].phone   %></span>
                            <a class="trash-logo flex-center" href="/delete-contact/?id=<%= arr[i]._id%>"><i class="far fa-trash-alt"></i></a>
                        </li>
                    
                    <% } %>
                </ul>

            </section>

            
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>